@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: #444444;
}
.change {
    color: lightblue;
    font-size: 100px;
    border: 10px solid black;
}

.fb-button {
    border-radius: 0.25rem;
    border: none;
    font-weight: 600;
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.2;
    outline: none;
    height: 3rem;
    min-width: 3rem;
    font-size: 1.125rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgb(129, 230, 217);
    color: rgb(26, 32, 44);
    margin: 0.5rem;
    cursor: pointer;
}

.fb-button:hover {
    background-color: rgb(79, 209, 197);
}

/* border-bottom: 2px solid #444444; */
/* padding: 4px 4px 4px 24px; */
.form-control {
    width: 25%;
    display: block;
    transition: border-color .2s ease-in-out;
    border-bottom: 2px solid #e2e2e2;
    border-width: 0 0 2px;
    font-size: 15px;
    line-height: 24px;
    background: none;
    text-transform: none;
    padding: 2px 2px 2px 24px;
}

.form-control:active, .form-control:focus {
    border-color: rgb(79, 209, 197);
    outline: none;
}

.form-control-icon {
    display: flex;
    align-items: baseline;
    position: relative;
    
}

.icon-form {
    position: absolute;
    top: 30%;
    left: -3px;
    margin-top: -1px;
}

/* portrait mode */
@media only screen and (max-width: 736px) {
    .form-control {
        width: 40%;
    }
}

/* landscape mode */
@media only screen and (max-width: 414px) {
    .form-control {
        width: 100%
    }
}